rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ads/{ad} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && (request.auth.uid == resource.data.userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }
    match /users/{user} {
      allow read: if request.auth != null && (request.auth.uid == user || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
      allow write: if request.auth != null && request.auth.uid == user;
    }
    match /chats/{chat} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.participants;
      match /messages/{message} {
        allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/chats/$(chat)).data.participants;
      }
    }
    match /featuredRequests/{request} {
      allow read, write: if request.auth != null && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' || request.auth.uid == resource.data.userId);
    }
    match /settings/{doc} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    match /otpCodes/{code} {
      allow read, write: if true;
    }
  }
}
